extends base

block emailContent
  p Hola #{name},  
  p bienvenido a la E-comerce store, tu registro fue satisfactorio 
  p sientete libremente de comprar por nuestra tienda, donde encontraras 
  p los mejores precios y porductos del mercado.
  p Hecho con ♥ Academlo. 
  p(class='signature') lo mejor,
  p Academlo Store